

<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link href="index.css" rel="stylesheet" type="text/css">
</head>

<body class="main">

  <div class="menu_bar">

    <form class="top_button" method="get" action="/properties/create">
      <input class="butt" type="submit" value="Create">
    </form>

    <form class="top_button" method="get" action="/properties/myproperties">
      <input class="butt" type="submit" value="My Properties">
    </form>

    <form class="top_button" method="get" action="/">
      <input class="butt" type="submit" value="Logout">
    </form>

  </div>

  <div class="conten">

  <form method="post" action="/properties_bydate">
    <strong>Filter by date: </strong><input type="date" value="my_date" name="my_date">
    <input class="smallbutt" type="submit" value="search">
  </form>

  <div>
    <ul>
    <% properties.forEach(function(property){ %>
    <li>
      <div class="property_list">

        <div class="property_data">
          <h2><%= property.name %></h2>
          <img class="pro_url" src='<%= property.pic_url %>'>
          <br>
          <strong>Price: £<%= property.price %></strong><br>
          <strong>Description: </strong><%= property.description %><br><br>
          <strong>Date: </strong><%= property.date1 %> : <%= property.date1Status %><br>
          <strong>Date: </strong><%= property.date2 %> : <%= property.date2Status %><br>
          <strong>Date: </strong><%= property.date3 %> : <%= property.date3Status %>
          <br><br>

          <% }); %>

        </div>
      </div>
      </li>
    </ul>
  </div>

  </div>

</body>
</html>
