<!DOCTYPE html>
<html>
<head>
  <link href="index.css" rel="stylesheet" type="text/css">
</head>

<body class="main">


  <form class="top-right" method="get" action="/">
    <input class="butt" type="submit" value="Logout">
  </form>

  <br>

  <form class="top-right" method="get" action="/properties">
    <input class="butt" type="submit" value="Back">
  </form>

  <h2>You have just requested this property:</h2>
    <ul>
    <% properties.forEach(function(property){ %>
    <li>
      <div class="property_list">
        <div class="property_data">
          <h2><%= property.name %></h2>
          <img src='<%= property.pic_url %>'<br><br>
          <strong>Price: £<%= property.price %></strong><br><br>
          <strong>Description: </strong><%= property.description %><br><br>
          <strong>Date: </strong><%= property.date1 %> : <%= property.date1Status %><br>
          <strong>Date: </strong><%= property.date2 %> : <%= property.date2Status %><br>
          <strong>Date: </strong><%= property.date3 %> : <%= property.date3Status %>
          <br><br>

          <% }); %>
        </div>
      </div>
      </li>
    </ul>





</body>
</html>
